.th-ink-plans{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
  }
  
  .th-ink-plans ul.th-ink-col{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    width: 260px; /* width of each table */
    margin-right: 20px; /* spacing between tables */
    margin-bottom: 1em;
    border: 1px solid gray;
    transition: all .5s;
  }
  
  /* .th-ink-plans ul.th-ink-col:hover{ 
    transform: scale(1.05);
    transition: all .5s;
    z-index: 100;
    box-shadow: 0 0 10px gray;
  }
   */
  .th-ink-plans ul.th-ink-col .center{
    margin: 0 auto;
    text-align: center;
  }
  
  .th-ink-plans ul.th-ink-col img{
    max-width: 80%;
    height: auto;
  }
  
  .th-ink-plans ul.th-ink-col li{
    padding: 10px 10px;
    position: relative;
    border-bottom: 1px solid #eee;
  }
  
  .th-ink-plans ul.th-ink-col li.title{
    font-weight: bold;
    text-align: center;
    padding: 30px 10px;
    background: rgb(40, 193, 203);
    color: white;
    box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
    text-transform: uppercase;
  }
  
  .th-ink-plans ul.th-ink-col:nth-of-type(2) li.title{
    background: rgb(249, 111, 118);
    color: white;
  }
      
  .th-ink-plans ul.th-ink-col:nth-of-type(3) li.title{
    background: rgb(210, 117, 251);
    color: white;
  }
  
  .th-ink-plans ul.th-ink-col li b{
    text-transform: uppercase;
  }
  .th-ink-plans ul.th-ink-col li.title b{
    font-size: 250%;
  }
  
  .th-ink-plans ul.th-ink-col:last-of-type{ /* remove right margin in very last table */
    margin-right: 0;
  }
  
  /*very last LI within each pricing UL */
  .th-ink-plans ul.th-ink-col li:last-of-type{
    text-align: center;
    margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
  }  
  
  .th-ink-plans a.pricebutton{
    background: red;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 600px) {
    .th-ink-plans ul.th-ink-col{
      border-radius: 0;
      width: 100%;
      margin-right: 0;
    }
    
    /* .th-ink-plans ul.th-ink-col:hover{
      transform: none;
      box-shadow: none;
    } */
    
    .th-ink-plans a.pricebutton{
      display: block;
    }
  }