.th-toner-plans,
.th-ink-plans {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.th-toner-plans {
    padding-top: 20px;
}


.th-toner-plans h2,
.th-ink-plans h2 {
    font: 400 28px/36px FormaDJRMicro, sans-serif;
    text-align: center;
}

.th-toner-plans ul.th-toner-col,
.th-ink-plans ul.th-ink-col {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: black;
    width: 209px;
    margin-bottom: 1em;
    border-right: 0.5px solid #000;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    margin-right: -4px;
    transition: all .5s;
}

.th-toner-plans ul.th-toner-col:first-of-type,
.th-ink-plans ul.th-ink-col:first-of-type {
    border-left: 0.5px solid #000;
}

.th-toner-plans ul.th-toner-col li, 
.th-ink-plans ul.th-ink-col li {
    padding: 16px;
    text-align: center;
    position: relative;
    font: 400 18px/22px FormaDJRMicro, sans-serif;
}

.th-ink-plans ul.th-ink-col li.title {
    font: 400 20px/28px FormaDJRMicro, sans-serif;
    text-align: center;
    padding: 16px;
    background: #B655F5;
    color: #000;
    border-left: 0.5px solid #000;
}

.th-toner-plans ul.th-toner-col li.title {
    font: 400 20px/28px FormaDJRMicro, sans-serif;
    text-align: center;
    padding: 16px;
    background: #5969F7;
    color: #000;
}

.purple {
    background-color: #C577F7;
}

.lightPurple {
    background-color: #E9CCFC;
}

.blue {
    background-color: #7E8AF9;
}

.lightBlue {
    background-color: #DADEFD;
}

.pricing-btn {
    text-align: center;
    margin-top: 17px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.th-ink-plans .pricing-btn {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.th-toner-plans .pricing-btn {
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}

.pricing-btn a {
    font: 700 16px/22px FormaDJRMicro, sans-serif;
    text-transform: unset;
    padding: 10px 32px;
    border-radius: 0;
    transition: all ease .3s;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 1px solid #000;
}

.pricing-btn a:hover {
    background-color: #7B7979;
    border: none;
}


@media only screen and (max-width: 720px) {
    .th-toner-plans ul.th-toner-col,
    .th-ink-plans ul.th-ink-col {
        border-radius: 0;
        width: 100%;
        margin-right: 0;
        border: 0.5px solid #000;
    }

    .th-toner-plans ul.th-toner-col li.title,
    .th-ink-plans ul.th-ink-col li.title {
        border-left: 0.5px solid transparent;
    }

}